[submodule "Localization"]
	path = Localization
	url = https://github.com/SCP-CB-Community-Preservation-Project/Localization
[submodule "Documentation"]
	path = Documentation
	url = https://github.com/SCP-CB-Community-Preservation-Project/Documentation
